---
import '../styles/global.css';
import { Font } from 'astro:assets';
import { PLAUSIBLE_URL } from "astro:env/client";
interface Props {
  pageTitle?: string;
  schema?: Record<string, unknown> | Record<string, unknown>[];
}
const {
  pageTitle,
  schema
} = Astro.props;

const fullTitle = pageTitle ? `${pageTitle} - Snazzah` : 'Snazzah';
---

<html lang="en">
  <head>
    <meta charset="utf-8">
		<link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator} />
		<title>{fullTitle}</title>
    <link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)}>

    <Font cssVariable="--font-satoshi" preload />
    <Font cssVariable="--font-supreme" preload />

    {PLAUSIBLE_URL && Astro.site && <script defer data-domain={Astro.site.hostname} src={new URL('/js/script.js', PLAUSIBLE_URL).toString()} />}

    {schema && (
      <script type="application/ld+json" set:html={JSON.stringify(schema)} />
    )}
  </head>
  <body>
    <slot />
  </body>
</html>
