---
import JsonLd from '../components/JsonLd.astro';
import type { WithContext, Person } from 'schema-dts';
import SW from '../components/SW.astro';

export interface Props {
  title?: string;
  pageTitle?: string;
  className?: string;
}

const { title = 'Snazzah', pageTitle } = Astro.props;
const fullTitle = pageTitle ? `${pageTitle} | ${title}` : title;

const JSONLDData: WithContext<Person> = {
  '@context': 'https://schema.org',
  '@type': 'Person',
  name: 'Snazzah',
  url: 'https://snazzah.com',
  image: 'https://snazzah.com/images/avatar.min.png',
  knowsAbout: ['Computer Science', 'Design', 'Video Games', 'Programming'],
  sameAs: ['https://github.com/Snazzah', 'https://twitter.com/Snazzah']
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{fullTitle}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="en" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta content="Snazzah" property="og:site_name" />
    <meta content={fullTitle} property="og:title" />
    <meta content="https://snazzah.com/images/avatar.min.png" property="og:image" />
    <meta content="image/png" property="og:image:type" />
    <meta content="150" property="og:image:width" />
    <meta content="150" property="og:image:height" />
    <meta content="TypeScript developer, wild cat" property="og:description" />
    <meta content="https://snazzah.com" property="og:url" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="https://snazzah.com" />
    <meta name="twitter:title" content="Snazzah" />
    <meta name="twitter:description" content="TypeScript developer, wild cat" />
    <meta name="twitter:image" content="https://snazzah.com/images/avatar.min.png" />
    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="150" />
    <meta name="twitter:image:height" content="150" />
    <meta name="twitter:creator" content="@Snazzah" />
    <meta name="twitter:site" content="@Snazzah" />

    <meta name="description" content="TypeScript developer, wild cat" />
    <meta name="title" content="Snazzah" />

    <meta name="subject" content="TypeScript developer, wild cat" />
    <meta name="copyright" content="Snazzah" />
    <meta name="owner" content="Snazzah" />
    <meta name="revised" content="Monday, Feburary 22th, 2022, 10:00 am" />
    <meta name="rating" content="General" />

    <link rel="fluid-icon" type="image/png" href="https://snazzah.com/images/avatar.min.png" />
    <link rel="canonical" href="https://snazzah.com/index.html" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/meta/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/meta/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/meta/favicon-16x16.png" />
    <link rel="mask-icon" href="/images/meta/safari-pinned-tab.svg" color="#fc2929" />
    <meta name="msapplication-TileColor" content="#fc2929" />
    <meta name="theme-color" content="#fc2929" />
    <link rel="shortcut icon" href="/favicon.ico" />

    <JsonLd data={JSONLDData} />
    <SW />
  </head>

  <body>
    <slot />

    <script>
      // This is a hack to get vite-plugin-pwa to generate a sw.js file.
      // Do not remove this script tag.
    </script>
  </body>
</html>
